@page
@model WebApplicationTwitter.Pages.Home.feedModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Tendências</h5>
                    <ul class="list-unstyled">
                        <li>#Bootstrap5</li>
                        <li>#JavaScript</li>
                        <li>#CSS</li>
                        <li>#HTML</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <form>
                        <textarea class="form-control mb-3" placeholder="O que está acontecendo?"></textarea>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Tweetar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="media">
                        <img src="https://via.placeholder.com/64" class="rounded-circle mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Usuário 1</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at neque ac ex auctor sagittis. Maecenas pharetra dui sed vestibulum sodales. In vitae ullamcorper mauris. Nulla facilisi. Proin dignissim aliquet risus, eu tempus sapien faucibus id. Nullam vehicula tortor sed massa tristique tristique. Mauris sed felis vel arcu vehicula elementum. </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">10h atrás</li>
                                <li class="list-inline-item"> <a href="#">Responder</a></li>
                                <li class="list-inline-item"> <a href="#">Compartilhar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="media">
                        <img src="https://via.placeholder.com/64" class="rounded-circle mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Usuário 2</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at neque ac ex auctor sagittis. Maecenas pharetra dui sed vestibulum sodales. In vitae ullamcorper mauris. Nulla facilisi. Proin dignissim aliquet risus, eu tempus sapien faucibus id. Nullam vehicula tortor sed massa tristique tristique. Mauris sed felis vel arcu vehicula elementum. </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">2h atrás</li>
                                <li class="list-inline-item"> <a href="#">Responder</a></li>
                                <li class="list-inline-item"> <a href="#">Compartilhar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

